.article {
	margin-bottom: 20px;
}

.article-title {
	color: lighten($brand-primary, 20%);
	font-size: 20px;
}

.article-content {
	color: #666;
	img {
		margin-bottom: 15px;
	}
}

.article-table-title {
	font-size: 13px;
	th {
		color: $brand-primary;
		background: #f7f9fd;
	}
	tr:first-child {
		th,
		td {
			border-color: $brand-primary;
			border-width: 2px;
		}
	}
}