.media-group {
	border-top: solid 2px darken($brand-primary, 5%);
}

.media {
	border-bottom: solid 1px #ddd;
	padding: 20px 0;
}

.media-object {
	display: block;
	border: solid 1px #ddd;
	width: 120px;
	height: 65px;
	overflow: hidden;
}

.media-body {
	p {
		font-size: 12px;
		color: #666;
	}
}

.media-heading {
	margin-top: 5px;
	font-size: 14px;
	text-decoration: underline;
}

.media-datetime {
	color: $brand-primary;
	font-size: 12px;
}