.table-scroll {
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	min-height: 200px;
	background: #f2f5fa;
	margin-bottom: 10px;
	border-bottom: solid 1px #ddd;
}

.table-th-word-break {
	th {
		word-break: keep-all;
		white-space: nowrap;
	}
	td {
		background: #fff;
	}
}

.search-input-help {
	margin-top: -10px;
	margin-bottom: 40px;
	font-size: 12px;
	color: #666;

	.important {
		color: red;
	}
}

.text-sm {
	font-size: 12px;
}

.search-result-well {
	background: transparent;
	border: solid 1px #ddd;
	border-top: solid 2px $brand-primary;
}

.progress-van {
	background: transparent;
	@include box-shadow(none);
	margin-bottom: 0;
	height: 29px;
	overflow: visible;

	.progress-bar {
		position: relative;
		background: transparent;
		@include box-shadow(none);
		img {
			display: block;
			position: absolute;
			width: 66px;
			height: 29px;
			right: -24px;
		}
	}
}

.search-table {
	font-size: 12px;
	& {
		border-top-color: $brand-primary;
		border-top-width: 2px;
	}
	> thead > tr > th {
		border-color: #85B2CF;
		border-bottom-width: 1px;
		background: #f2f5fa;
		color: #3f6499;
	}
	> tbody > tr > td > a {
		color: #0033ff;
		text-decoration: underline;
	}
}